.iframe-wrapper iframe {
  height: 80vh;
  width: 100%;
}

.blacklight-catalog-show #sidebar {
  display: none;
}

#header-navbar .navbar-brand {
	background: transparent url(/hl_webonly_rgb_white.png) no-repeat center left;
    background-size: 20rem;
    width: 200px;
}

.hl__topHeader {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-image: -webkit-linear-gradient(203deg, #52757e, #335c67);
  background-image: -o-linear-gradient(203deg, #52757e, #335c67);
  background-image: linear-gradient(247deg, #52757e, #335c67);
  padding: 0;
}

@media (max-width: 620px) {
  .hl__topHeader {
    position: fixed;
    z-index: 11;
  }
}
.hl__topHeader .hl__topHeader__left {
  width: 75%;
}

@media (max-width: 620px) {
  .hl__topHeader .hl__topHeader__left {
    width: 80%;
  }
}
.hl__topHeader .hl__topHeader__right {
  width: 25%;
}

@media (max-width: 620px) {
  .hl__topHeader .hl__topHeader__right {
    display: none;
  }
}
.hl__topHeader .hl__topHeaderNav {
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 25px;
  margin-bottom: 0;
}

@media (max-width: 620px) {

  .hl__topHeader .hl__topHeaderNav {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.hl__topHeader .hl__topHeaderNav a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.hl__topHeader__link:hover {
  color: #fff;
}

.hl__topHeaderTitle__harvard a {
  font-family: TruenoBd;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 1.1px;
  color: #fff;
}

@media (max-width: 620px) {
  .hl__topHeaderTitle__harvard a {
    font-size: 1.5rem;
  }
}

.hl__topHeaderTitle__collections a {
  font-family: Lora;
  font-size: 28px;
  font-style: italic;
  color: #fff;
  padding-left: 30px;
}

@media (max-width: 620px) {
  .hl__topHeaderTitle__collections a {
    font-size: 1.3rem;
    padding: 0;
  }
}

.hl__fixedNav {
  background: #1e1e1e;
  height: 60px;
  z-index: 101;
  width: 100%;
  max-width: 2200px;
  display: -ms-flexbox;
  display: flex;
}

.hl__headerSticky.active .sticky-inner-wrapper {
  z-index: 3;
}

.hl__headerSticky .sticky-inner-wrapper {
  z-index: 2;
}

@media (max-width: 620px) {
  .sticky-outer-wrapper.hl__headerSticky {
    display: none;
  }
}
.hl__headerLogo {
  height: 60px;
  -o-object-fit: contain;
  object-fit: contain;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  background: #1e1e1e;
}

.hl__headerLogo img {
  width: 80%;
}

#hl__footer {
  display: -ms-flexbox;
  display: flex;
  min-height: 320px;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #1e1e1e;
}

.hl__footer__container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 620px) {
  .hl__footer__container {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.hl__footerColOne {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  width: 20%;
}

@media (max-width: 620px) {
  .hl__footerColOne {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
}
.hl__footerColTwo {
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  width: 20%;
}

@media (max-width: 620px) {
  .hl__footerColTwo {
    width: 100%;
    padding-top: 25px;
  }

  .hl__footerColTwo ul {
    padding-left: 0;
  }
}
.hl__footerColThree {
  width: 20%;
  display: -ms-flexbox;
  display: flex;
}

.hl__footerColThree ul {
  padding: 0;
}

.hl__footerColThree li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hl__footerColThree .hl__footerLink {
  padding-right: 12px;
}

@media (max-width: 620px) {
  .hl__footerColThree {
    width: 100%;
  }
}

.hl__footerColFour {
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 100%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}

@media (max-width: 620px) {
  .hl__footerColFour {
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
}

.hl__footerLogo {
  width: 180px;
  height: 140px;
  background-image: url("https://s3.amazonaws.com/archimedes-data001/hul/images/hl-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.hl__footerLink {
  font-family: TruenoLight;
  font-weight: 100;
  color: #fff;
  font-size: 14px;
  line-height: 1.93;
  letter-spacing: 1.9px;
  text-transform: uppercase;
}

.hl__footerLink:hover {
  text-decoration: none;
  color: #fff;
}

.hl__footerLinkRight {
  padding-right: 30px;
}

.hl__footerLinkRight a {
  font-family: TruenoLight;
  font-weight: 100;
  color: #fff;
  font-size: 14px;
  line-height: 1.87;
  text-align: right;
}

.hl__footerLinkRight a:hover {
  text-decoration: none;
  color: #fff;
}

.hl__footerCopyright {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: silver;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 100;
  font-family: TruenoLight;
}

.hl__footerCopyrightContainer {
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 230px;
  padding-left: 35px;
  -ms-flex-align: center;
  align-items: center;
  height: 35%;
}

@media (max-width: 620px) {
  .hl__footerCopyrightContainer {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 45px 0 0;
  }
}

.footerBuiltBy {
  color: #727272;
}

.hl__footerSocialLinks {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  height: 35%;
  width: 145px;
  border-right: 1px solid #424242;
}

@media (max-width: 620px) {
  .hl__footerSocialLinks {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-right: none;
  }
}

.hl__footerTwitterLogo {
  margin-right: 30px;
}


.hl__footerFacebookLogo, .hl__footerTwitterLogo {
  width: 40px;
  height: 42px;
  background-size: contain;
  background-repeat: no-repeat;
}
