.iframe-wrapper iframe {
  height: 80vh;
  width: 100%;
}

.blacklight-catalog-show #sidebar {
  display: none;
}

#header-navbar .navbar-brand {
	background: transparent url(/hl_webonly_rgb_white.png) no-repeat center left;
    background-size: 20rem;
    width: 200px;
}